<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.svg") %>">
    </div><div class="right">
      <h1>
        Welcome to<br>Latipay documents
      </h1>
      <p>
        <a class="button white" href="<%- url_for("/v2/") %>">GET STARTED</a>
      </p>
    </div>
  </div>
</div>